body{
    background-color: rgb(201, 197, 197);
    background-image: url(/img/TEXTURAPAPEL-FONDO.jpg);
}
a{
   color: black;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
}
.titulo{
    max-width: 100%;
}
.imgTitulo{
    width: 100%;
}
.subtitulo{
    max-width: 100%;
}
.imgSubtitulo{
    width: 100%;
}
.card-body{
    max-width: 100%;
}
.imgGeneral{
    width: 120%;
}
.textoGeneral{
    width: 120%;
}
.precioEntradas{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}
.imgVip{
    width: 120%;
    
}
.card-img-top{
    width: 350px;

}
.card-text{
    font-size: 25px;
    font-weight: bold;

}
.botonEntradaGeneral{
    background-image: linear-gradient(to right,rgb(107, 104, 104), rgb(180, 83, 153), rgb(180, 83, 153), rgb(180, 83, 153), rgb(180, 83, 153), rgb(107, 104, 104));
    border-radius: 5px;
    width: 350px;
    height: 30px;
    box-shadow: 7px 5px 3px rgb(60, 60, 60);
}
.botonGeneral{   
    font-size: 25px;
    padding-left: 45px;
}
.botonEntradaVip{
    background-image: linear-gradient(to right, rgb(107, 104, 104), rgb(243, 198, 63), rgb(243, 198, 63), rgb(243, 198, 63), rgb(243, 198, 63), rgb(107, 104, 104));
    border-radius: 5px;
    width: 350px;
    height: 30px;
    box-shadow: 7px 5px 3px rgb(60, 60, 60);

}
.botonVip{
    font-size: 25px;
    padding-left: 80px;
}
.boton{
    height: 50px;
    width: 350px;
    background-image: linear-gradient(to right,rgb(107, 104, 104), rgb(180, 83, 153), rgb(180, 83, 153), rgb(180, 83, 153), rgb(180, 83, 153), rgb(107, 104, 104));

}
.boton-vip{
    height: 50px;
    width: 350px;
    background-image: linear-gradient(to right, rgb(107, 104, 104), rgb(243, 198, 63), rgb(243, 198, 63), rgb(243, 198, 63), rgb(243, 198, 63), rgb(107, 104, 104))
}
.btn{
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
.list-vip{
    font-size: 23px;
    font-weight: bold;
}
.iconWpp{
    padding-top: 10px;
    padding-left: 150px;

}

/* GENERAL */ 
.tituloGeneral{
    max-width: 100%;
}
.imgGeneralGeneral{
    width: 100%;
}

/* VIP */
.tituloVip{
    max-width: 100%;
}
.imgVip{
    width: 100%;
}

/* BEBIDAS */
.tituloBebidas{
    max-width: 100%;
}
.imgTituloBebidas{
    width: 100%;
}

.listaBebida{
    font-size: 24px;

}